---
import { experience } from "../../constants/data";
import Linked from "../../icons/Linked.astro";
import Badge from "../Badge.astro";
---

<section class="grid gap-6 scroll-mt-20" id="experiencia">
  <h1 class="text-3xl font-bold tracking-tight text-white">
    Experiencia laboral
  </h1>

  <div class="flex mt-2 mb-12">
    <ul
      class="max-w-2xl xl:max-w-3xl mx-5 sm:mx-0 relative border-s border-gray-200 dark:border-slate-600 space-y-14"
    >
      {
        experience.map(({ title, description, date, link, technologies }) => (
          <li class="ml-4">
            <div class="absolute size-3 rounded-full mt-1.5 -left-1.5 bg-blue-500" />
            <time class="text-sm text-slate-400">{date}</time>

            <h3>
              <a
                href={link}
                target="_blank"
                rel="noopener noreferrer"
                class="text-xl text-sky-500 font-semibold transition-all hover:text-sky-600"
              >
                <Linked class="inline size-4" /> {title}
              </a>
            </h3>
            <p class="prose prose-invert text-slate-300 text-pretty my-3">
              {description}
            </p>

            <footer class="flex flex-wrap gap-x-2 gap-y-3">
              {technologies.map((title) => (
                <Badge>{title}</Badge>
              ))}
            </footer>
          </li>
        ))
      }
    </ul>
  </div>
</section>
