---
import { projects } from "../../constants/data";
import VSCode from "../../icons/VSCode.astro";
import Button from "../LinkButton.astro";
import Project from "../Project.astro";
---

<section class="grid gap-6 scroll-mt-20" id="proyectos">
  <h2>
    <VSCode /> Proyectos
  </h2>

  <div class="space-y-4">
    {
      projects.map(({ title, description, image, technologies, buttons }) => (
        <Project
          title={title}
          description={description}
          image={image}
          technologies={technologies}
          buttons={buttons}
        />
      ))
    }
  </div>

  <div class="mx-auto mt-6">
    <Button href="/proyectos" color="green" newTab={false}>
      Ver todos los proyectos →
    </Button>
  </div>
</section>
