---
import Project from "./Project.astro";
import { projects } from "../constants/projects";
import HeroButton from "./LinkButton.astro";
---

<section class="relative grid gap-6 mt-20" id="proyectos">
  <div class="fixed top-10 left-10">
    <HeroButton href="/#proyectos" color="blue">← Volver</HeroButton>
  </div>

  <h2 class="text-3xl font-bold tracking-tight text-white">Proyectos</h2>

  <div class="grid gap-4">
    {
      projects.map(({ title, description, image, technologies, buttons }) => (
        <Project
          title={title}
          description={description}
          image={image}
          technologies={technologies}
          buttons={buttons}
        />
      ))
    }
  </div>
</section>
