---
import { projects } from "../constants/projects";
import VSCode from "../icons/VSCode.astro";
import Project from "./Project.astro";
---

<section class="relative space-y-6">
  <h2>
    <VSCode /> Proyectos
  </h2>

  <div class="grid gap-4">
    {
      projects.map(({ title, description, image, technologies, buttons }) => (
        <Project
          title={title}
          description={description}
          image={image}
          technologies={technologies}
          buttons={buttons}
        />
      ))
    }
  </div>
</section>
